HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


*.metadata
*bin
*tmp
*.settings
*.iml
*.classpath
*.project
.idea/
*build/
*/*/build/
target/
*/target/
*/*/target/
*/.settings/
*/*/.settings/
.gradle/
*.generated
target/
.metadata/
*bin
*.svn
gradle/caches/
gradle/daemon/
gradle/native/
*/*/test-output/
out/
